.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.customCard {
  width: 18rem
}

.neko-logo{
  height: 3vw;
  margin: 0.5vw;
}

.carousel-item{
  max-height: 50vh;
  width: 100vw;
}

.carrousel-images{
  height: 50vh;
  justify-content: center;
}

.statistics{
  display: flex;
  margin:auto;
  margin-top: 50px;
}

h1{
  text-align: center;
  font-size: 30px;
}

.cat-main-div{
  display: flex;
}

.dreamix{
  position: absolute;
  height: 500px;
  margin-left: 32vw;
  margin-top: 50px;
}

.gif{
  position: absolute;
  height: 600px;
  width: 100vw;
}

.main-div{
  position: relative;
  margin-top: 600px
}

.blue-ocean{
  width: 100%;
}

.brain{
  height: 400px;
}

.brain-background{
  background-color: black;
  display: flex;
}

.healthcare{
  font-size: 50px;
  margin-top: 150px;
  color: white;
  text-align: center;
}
